# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
*.sqlite
*.db

# Node
node_modules/
dist/
build/

# VS Code
.vscode/

# Backend storage
backend/storage/
backend/models/

# Logs
*.log
